<!DOCTYPE html>
<html lang="en-US">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agile Flow</title>

     <!-- CDN Links -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- Modal CSS --> 
    <link type="text/css" rel="stylesheet" href="./css/modal.css">
    <!-- User Profile CSS --> 
    <link type="text/css" rel="stylesheet" href="./css/userprofile.css">
    <!-- Font Awesome CSS --> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- CSS, Font, & Icon Files --> 
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Ubuntu" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="./css/style.css">
    <!-- Favicon --> 
    <link rel="shortcut icon" href="./images/buoy.ico">


</head>

    <body>

<!-- Left Navbar -->
<nav id="sidebar">
    <div class="sidebar-header text-center">
        <h3 class="navTitle">Agile
            <span class="titleColor">Flow</span>
        </h3>
    </div>
     <div class="container" id="user" data-id="3"></div>
        <div id="user-image"></div>
        <h4 id="appuser-name"></h4>
    </div>
    <ul class="list-unstyled components">
        <li class="active">
            <a href="/">Home</a>
        </li>
        <li>
            <a href="#" id="post-link">Post A Question</a>
        </li>
        <li>
            <a href="/myquestions">My Questions</a>
        </li>
        <li>
            <a href="/#open-topics">Open Questions</a>
        </li>
        <li>
            <a href="/#closed-topics">Agile Answers</a>
        </li>
        <li>
            <a href="/about">About Agile Flow</a>
        </li>
        <li>
            <a href="/myprofile">My Profile</a>
        </li>
        <li>
           <div id="modalSignup">
                <a href="#" data-toggle="modal" data-target="#at-signup-filling">Sign-Up</a>
          </div>
        </li>
        <li>
            <div id="modalLogin">
                <a href="#" data-toggle="modal" data-target="#at-login">Login</a>
            </div>
        </li>
        <li>
            <a class="session-logout" href="#">Logout</a>
        </li>
        <li>
            <a href="/admin">Admin</a>
        </li>
    </ul>
</nav>


    
<!-- Top Navbar -->
<div id="content">

    {{!-- <div class="navbar-header">
        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
            <i class="glyphicon glyphicon-align-left"></i>
            <span>Toggle Sidebar</span>
        </button>
    </div> --}}


    {{{ body }}}


    {{!-- Footer --}}
    <footer class="footer container mt-5">
        <div class="row text-center">
            <h5 class="col-12">© Copyright 2018 Code Busters</h5>
            <h4 class="col-12"></h4>
        </div>
    </footer>

</div>

    <!-- Modal Section Start -->

    <!-- Modal - Error Msg-->
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="error-modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="error-modal-body">
                        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-block" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
 
    <!-- Modal - Confirm Delete -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirm-modal-title">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        Are you sure you want to delete this?  Select 'Delete Topic' below to permanently remove this topic. 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-block confirm-delete-btn" data-dismiss="modal" topic-id="">Delete Topic</button><br>
                    <button type="button" class="btn btn-block" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {{!-- Post Modal --}}
    <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Post Your Question</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   <form class="col-12">
                        <div class="form-group">
                            <label for="add_topic_title">Enter Topic Title - Up To 100 Characters</label>
                            <input type="text" class="form-control" id="add_topic_title" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="add_topic_body">Enter Description - Up To 250 Characters</label>
                            <textarea type="text" rows="5" class="form-control" id="add_topic_body" placeholder=""></textarea>
                        </div>
                        <div class="form-group" id="modal-error-text">
                            {{!-- text added here --}}
                        </div>   
                    </form> 
                </div>
                <div class="modal-footer justify-content-around">
                    <button type="submit" class="btn col-12 col-md-5 add-topic">Submit</button>
                    <button type="close" class="btn col-12 col-md-5" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {{!-- Sign Up Modal --}}
    <div class="modal fade" id="at-signup-filling" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Sign Up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   <form class="col-12" id="modal-signup-form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="first-name" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="last-name" placeholder="Last Name">
                            <div class="form-control" id="signup-name-error"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="user-name" placeholder="Username">
                            <div class="form-control" id="signup-username-error"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="user-email" placeholder="eMail">
                            <div class="form-control" id="signup-email-error"></div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="user-password" placeholder="Password">
                            <div class="form-control" id="signup-password-error"></div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password">
                            <div class="form-control" id="signup-confirmpswd-error"></div>
                        </div>
                        <div class="form-group">
                            <label for="file-input">Profile Picture:</label>
                            <input type="file" class="d-inline-flex form-control" id="file-input">
                        </div>
                        <div class="form-group" id="signup-error">
                            {{!-- text added here --}}
                        </div>    
                  </div>
                <div class="modal-footer justify-content-around">
                    <button type="submit" class="btn btn-lgin col-12 col-md-5">Signup</button>
                    </form>
                    <button type="close" class="btn col-12 col-md-5" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    {{!-- login Modal --}}
    <div class="modal fade" id="at-login" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Sign Up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   <form id="login-form">
                        <div class="form-group">
                            <input type="email" class="form-control" id="login-email" placeholder="Email">
                            <div class="error-text" id="login-email-error"></div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="login-password" placeholder="Password">
                            <div class="error-text" id="login-password-error"></div>
                        </div>
                        <div class="form-group">
                            <div class="error-text" id="login-error"></div>
                        </div>
                </div>
                <div class="modal-footer justify-content-around">
                    <button type="submit" class="btn btn-lgin col-12 col-md-5">Login</button>
                    </form> 
                    <button type="close" class="btn col-12 col-md-5" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    {{!-- CDN and JS Links --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Authentication JS -->
    <script src="./javascript/validationhelpers.js"></script>
    <script src="./javascript/signup.js"></script>
    <script src="./javascript/login.js"></script>
    <script src="./javascript/member.js"></script>
    <!-- User Profile JS -->
    <script src="./javascript/userprofile.js"></script>
    <!-- Card Buttons JS -->
    <script src="./javascript/cardbtn.js"></script>
    <!-- Application Logic JS -->
    <script src="./javascript/choices.js"></script>
    <script src="./javascript/logic.js"></script>


  </body>
</html>