
    <div class="container-fluid splash">
      <div class="row justify-content-around">
    
        <div class="card col-md-8 text-dark">
          <h2 class="display-4">Our Mission</h2>
          <p>About us: The plethora of incidental findings while browsing the internet can be very time consuming and inefficient.  With this is mind, we asked ourselves, “Can we help others save browsing time, and earn learning time ?” Accelerate your learning of new tech with a community that lets you get to the heart of burning tech questions.  Stop wasting time searching and get to the core of things in less than 15 minutes.</p>
          <p>
          Agile Flow's mission is to help others learn more in less time by providing a trusted online community where people can share their knowledge. We provide a simple, easy to use platform where users can post questions and/or submit answers.</p>
          <p>
          We encourage users to keep their answers at a 15 minute maximum. In addition, we screen posts to ensure there is only one version of each question. Less time searching, means more time learning. And more time learning creates more, “Aahaa!” moments and less “huh?” moments. Our objective is to assist web developers in learning about targeted topics in a relatively short amount of time, leveraging a peer developer community that could filter, update or improve potential answers.</p>  
        </div>
      </div>
    </div>
