
/* Side Bar CSS */

body {
    font-family: 'Poppins', sans-serif;
  }
  
a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a[data-toggle="collapse"] {
  position: relative;
}

a.download {
  background: #fff;
  color: #5E5D5C;
}

a.article, a.article:hover {
  background: #5E5D5C !important;
  color: #fff !important;
}

a[class="topic-body"]{
  font-family: 'Poppins', sans-serif;; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

h2{
  text-align: center;
  margin-bottom: 20px;
}

iframe{
  border:none;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
  font-family: 'Poppins', sans-serif;;
}

strong{
  font-weight: 700;
}


ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background:#5E5D5C;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

.admin-jumbo{
  background-color: #182825;
  color:#ACAD94;
  font-weight: 700;
}

.answerCards{
  background-color: #dfdfdf;
  color: #182825;
  background-clip: border-box;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 2%;
  margin-right: 2%;
  max-width: 28%;
  border: solid 1px #000000;
}

.btn{
  background-color: #384d48;
  color: #ffffff;
}

.btn-div{
  margin-left: 0px;
  margin-right: 0px;
}

.btn[interest-state="true"]{
  background-color: #63A27C;
  color: #000000;
  border: solid 1px #000000;
}

.btn[vote-state="true"]{
  background-color: #63A27C;
  color: #000000;
  border: solid 1px #000000;
}

.card-title{
  font-size: 16px;
  padding: 10px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  height: 75px;
}

.card-video{
  margin:0;
  padding: 0;
}

.data-well{
  min-width: 610px;
  width: 60%;
}

.Hide{
  display:none;
}

.icon{
  font-size: 80px;
  border: solid 2px #182825;
  border-radius: 50px;
  background-color: #63A27C;
}

.icon-box{
  display: inline-block;
}

.icon-row{
  margin-top: 30px;
  margin-bottom: 30px;
}

.icon-text{
  font-size: 18px;
  color: #182825;
}

.navTitle {
  color: #ACAD94;
}

.navbar-btn {
  background-color: #182825;
  box-shadow: none;
  outline: none !important;
  border: none;
}

.open{
  background-color: #8CAD94;
  color: #182825;
}

.pending{
  background-color: #aCAD94;
  color: #182825;
}

/* Profile Image */
.profile-image img {
  width: 50px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid #63A27C;
  height: auto;
  float: left;
  cursor: pointer;
  -moz-transition: 0.3s border ease;
  -o-transition: 0.3s border ease;
  -webkit-transition: 0.3s border ease;
  transition: 0.3s border ease;
}

.profile-image img:hover {
  border-color: solid 1px #5E5D5C;
}
  
.questionCards {
  padding: 10px 10px 10px 10px;
  min-width: 250px;
  width:100%; 
  margin-bottom:2%;
  border: solid 1px #000000;
}

.question-state, .total-votes{
  font-size: 15px;
  text-align: center;
  text-transform: capitalize;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.modal-header{
  background-color: rgb(99, 162, 124);
  color: #ffffff;
}

.myq-rows{
  margin-top: 10px;
  margin-bottom: 10px;
}

.myq-heading{
  background-color:#5E5D5C;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 40px;
  border-radius: 7px;
  font-size: 25px;
  padding-top: 5px;
  margin-top: 30px;
}

.myq-jumbo{
  background-color: #182825;
  color:#ACAD94;
  font-weight: 700;
}

.myq-jumbo-vote{
  text-align: center;
}

.splash h1{
  font-weight: 1000;
  font-size: 100px;
  margin-top: 8%;
  /* border-bottom: solid 3px #63A27C; */
}

.title{
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 700;
  text-align: left;
  margin-top: 15px;
  text-decoration: underline;
}

.title-adj{
  margin-left: -15px;
}

.titleColor {
  color: #63A27C;
}

.topic-body{
  text-align: justify;
  font-size: 16px;
  color: #020202;
  margin-top: 10px;
  margin-bottom: 10px;
}

.topic-video{
  width: 95%;
}

.votes{
  font-size: 16px;
  text-transform: capitalize;
  text-align: left;
}
  
#appuser-name{
  font-size: 16px; 
  margin-top: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 0px;
}

#appuser-name p{
  color: #fff;
  margin-bottom: 0px;
}

#content {
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #cacaca;
}

#content.active {
  width: 100%;
}

#modal-error-text, .myq-modal-error-text{
  color:red;
  text-align: center;
  padding: 5px; 
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #384D48;
  color: #ACAD94;
  transition: all 0.3s;
  overflow-y: scroll;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background:  #41484e;
  font-family:  Arial, sans-serif;
  text-transform: uppercase;
  border-bottom: solid 1px #63a27c;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid#63A27C;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: rgb(216, 216, 216);
}
#sidebar ul li a:hover {
  color: #63A27C;
  background: rgb(223, 223, 223);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #63A27C;
}

#target {
  background:#05c1ff;
  width:100%;
  height:2px;
  padding:2px;
  display:none;
  border: 1px solid black;
  border-radius:20px;
}

#user-image-photo{
  width: 200px;
  margin: 8px 23px;
}

::-webkit-scrollbar { 
  display: none; 
}



@media (max-width: 768px) {
  /* #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #content {
      width: 100%;
  }
  #content.active {
      width: calc(100% - 250px);
  }
  #sidebarCollapse span {
      display: none;
  } */

  .data-well{
    min-width: 100%;
  }

}